
@import 'base/variables';

/*Body*/
body {
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-size: auto;
    font-family:$f-family;
    background-image: none;
    background-color: #f1bdd7;
}



    