
@import 'base/variables';
@import 'functions/extends';

/*Footer*/
footer {
    padding: 10px;
    color: rgb(236, 93, 205);
    font-family:$f-family;
    font-size: 1em;
    @extend %flexbox;
    
}
    
.divmenu {
    padding: 10px;
}
    
.footlink {
    text-decoration:$t-decoration;
    color: rgb(124, 3, 124);
}


