
@import 'functions/extends';

/*Navbar*/
#navbarSupportedContent {
   font-family: 'Courier New', Courier, monospace;
   font-size: 1em;
}

.dropdown-item {
   font-family: 'Courier New', Courier, monospace;
   font-size: 1em;
}


