/*MediaQuery para Teléfonos*/
@media only screen and (max-width:900px) {

    
    /*Imagenes*/
    .relative {
        display: block;
        flex-wrap: wrap
    }
    
    .items {
        display: block;
        flex-wrap: wrap;
        
    }
    
    div.desc {
        font-family: 'Courier New', Courier, monospace;
        color: black;
        padding: 10px;
        text-align: center;
      }
    
    h1 {
        padding: 0%;
        padding-left: 0%;
        font-size: small;
    }
      

    }

    

@import 'base/variables';

@import 'functions/extends';

@import '_selectoruniversal.scss';
     
@import '_navbar.scss';

/*Paragraph*/

h1 {
    padding: 20%;
    background-color: $bg-color;
    color: whitesmoke;
    font-family:$f-family;
    font-size: 2em;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;

}

h1:hover {
    background-color: rgb(131, 129, 252);
    color: $bg-color;
    font-weight: bolder;
    font-size: 3em;

}



/*Images*/
 .containeruno {
    @extend %flexbox;
    background-color: $bg-color;
}
    
.relative {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: $bg-color;
}
    
.items {
    padding: 30px;
    background-color: $bg-color;
}


div.desc {
    @extend %flexbox;
    padding: 10px;
    font-family: $f-family;
    color:white;
    background-color: $bg-color;
}

img {
    opacity: 0.8;
    border-radius: 4px;
}

img:hover {
    transform: scale(1.5);
    opacity: 1;
}



@import '_animation.scss';

@import '_footer.scss';

@import '_spacebetweensections.scss'