/*Variables*/
$f-family:'Courier New', Courier, monospace;
$f-size: 1em;
$bg-color:black;

/*Mixin*/
@mixin font-style {
    font-family:$f-family;
    font-size:$f-size;
}

/*Universal Features*/

* {
    padding: 0%;
    margin: 0%;
    color: rgb(124, 3, 124);
    text-decoration: none;
    background-color: #f8aed3;
    }
   
/*Space between sections*/
.col-lg-12 {
    background-color:$bg-color;
    padding: 20px;
}
    
/*Navbar*/
#navbarSupportedContent {
    @include font-style()
}
    
.dropdown-item {
   @include font-style()
}

/*Artists' Pictures*/
.col-lg-6 {
    background-color: $bg-color;
    font-family: $f-family;
}

.row {
    background-color: $bg-color;
}

/*Paragraphs*/
p {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: $bg-color;
    font-family: $f-family;
    font-size: $f-size;
}

/*Sección de pie*/
footer {
    padding: 10px;
    display:flex;
    justify-content: center;
    color: rgb(236, 93, 205);
    font-family: $f-family;
    font-size: 1em;
}

.divmenu {
    padding: 10px;
}

.footlink {
    text-decoration: none;
    color: rgb(124, 3, 124);
}