
body {
    background-color: black;
}

div {
    padding: 8px;
    background-color: rgb(171, 114, 224);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.col-lg-12 {
    background-color: black;
    padding: 20px;
}