

/*MediaQuery para Teléfonos*/
@media only screen and (max-width:400px) {
/*Imagenes*/
.containeruno {
    display: block;
    flex-wrap: wrap;
}

.relative {
    display: block;
    flex-wrap: wrap;
    padding: 20px;
}

.items {
    padding: 15px;
}

div.desc {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 10px;
    text-align: center;
  }
}

/*Selector Universal*/
* {
    padding: 0%;
    margin: 0%;
    color: rgb(124, 3, 124);
    text-decoration: none;
    background-color: #f8aed3;
    }
    
/*Space between sections*/
.col-lg-12 {
    background-color: black;
     padding: 20px;
}
    
/*Navbar*/
 #navbarSupportedContent {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}
    
.dropdown-item {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

/*Imagenes*/
.containeruno {
    display: flex;
    justify-content: center;
    background-color: black;
}

.relative {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
}

.items {
    padding: 30px;
    background-color: black;
}

div.desc {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    background-color: black;
}

/*Animation*/
#zoom-in img {
    transform: scale(1);
    transition: 0.4s ease-in;
}
#zoom-in:hover img {
    transform: scale(1.5);
}