/*Selector Universal*/
* {
    padding: 0%;
    margin: 0%;
    color: rgb(124, 3, 124);
    text-decoration: none;
    background-color:blackS;
}
    
/*Space between sections*/
 .col-lg-12 {
    background-color: black;
    padding: 20px;
}
    
/*Navbar*/
#navbarSupportedContent {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}
    
.dropdown-item {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

/*Text*/
.row {
    background-color: black;
}
.column {
    background-color: black;
}

p {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
}

label {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    color: white;
    background-color: black;

}


